<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <th:block th:include="fragments/common :: head"/>
</head>

<body class="d-flex flex-column min-vh-100">

<!-- HEADER -->
<header>
    <th:block th:include="fragments/common :: header"/>
</header>

<!-- USER LINE -->
<div class="userline">
    <th:block th:include="fragments/common :: userline"/>
</div>

<!-- LOCATIONS -->
<div class="main-content">
    <div class="container h-100">
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4" th:each="item : ${weatherList}">
                <th:block th:include="fragments/common :: weather_card"/>
            </div>
        </div>
    </div>
</div>

<!-- FOOTER -->
<footer class="mt-auto">
    <th:block th:include="fragments/common :: footer"/>
</footer>

</body>
</html>